/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  box-shadow: 0px 0px 10px 1px #111;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Current/active navbar link */
.active {
  background-color: #62aced;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.show-on-mobile {
  display: none;
}

@media (min-width: 200px) and (max-width: 700px) {
  .title {
    display: none;
  }
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: contents;
  }
}
